.list {
    width: 420px;
    padding: 10px;
    background-color: #716a8b;
    border-radius: 10px;
    margin: 10px;
}
.item {
    display: flex;
    text-align: center;
    align-items: center;
    height: 35px;
}
.item button {
    margin-left: 10px;
}
.name {
    margin-right: 10px;
    font-weight: bold;
}
.buttonsBox {
    display: flex;
    text-align: center;
    align-items: center;
}
